<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtmcompany.smartadvertisingboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".login.Kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tv"
        android:label="스마트 사이니지"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_tv_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myvideo.VideoWatchActivity" />
        <activity android:name=".myvideo.MyVideoActivity" />
        <activity android:name=".photoedit.PhotoEditActivity" />
        <activity android:name=".ui.UploadActivity" />
        <activity android:name=".videoedit.ui.VideoEditAtivity" />
        <activity android:name=".videoedit.ui.MusicActivity" />
        <activity
            android:name=".login.ui.SignupActivity"
            android:label=""
            android:theme="@style/SignUp" />
        <activity android:name=".login.ui.EmailLoginActivity" />
        <activity
            android:name=".ui.SelectEditActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".login.ui.LoginActivity">

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>